.unseenStoryItem {
  background: -webkit-linear-gradient(left top, #a31391 0%, #f8a74f 100%);
}

.seenStoryItem {
  border-style: solid;
  border-width: 3px;
  border-color: gray;
}

.trayItemImage {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

.videoStoryItem {
  width: auto;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  border: 0px;
  bottom: 0px;
}

#trayContainer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  max-height: 110px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#trayContainer::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

#trayContainer:hover::-webkit-scrollbar-track,
#trayContainer:focus::-webkit-scrollbar-track,
#trayContainer:active::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.04);
}

#trayContainer:hover::-webkit-scrollbar-thumb,
#trayContainer:focus::-webkit-scrollbar-thumb,
#trayContainer:active::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
}

#trayContainer::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}

#trayContainer::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
}

#trayContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
